## Import Libraries

In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import accuracy_score,f1_score, make_scorer, classification_report, roc_auc_score
from sklearn.dummy import DummyClassifier
import sqlite3
import datetime
import scikitplot as skplt
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import StandardScaler
from scipy.sparse import csr_matrix, hstack
import pickle

from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.calibration import CalibratedClassifierCV
from gensim.models import Word2Vec

from sklearn.externals.joblib import parallel_backend
from sklearn.externals import joblib

import warnings
warnings.filterwarnings('ignore')
global_start = datetime.datetime.now()

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Read existing data

In [54]:
data = pd.read_csv('basic_features.csv')
data.head()

      goal  staff_pick loc_country        cat_name  cat_parent       state  campaign_length  blurb_length
0   1000.0       False          US           Glass      crafts      failed               17            22
1   2000.0       False          US  Tabletop Games       games  successful               16            14
2   4400.0       False          US    Translations  publishing      failed               40            25
3  50000.0       False          US             Web  technology      failed               30            16
4   3000.0       False          GB     Comic Books      comics  successful               30            24

## Create user DataFrame

In [55]:
user_df = pd.DataFrame([[2.0, True, 'US', 'Glass', 'crafts', 'failed', 12, 21]], columns=data.columns)

## Append Data to the existing data

In [56]:
data = data.append(user_df, ignore_index=True)
data.tail(5)

            goal  staff_pick loc_country    cat_name  cat_parent       state  campaign_length  blurb_length
208990     600.0       False          US  Public Art         art      failed               33            22
208991  250000.0       False          AU    Hardware  technology      failed               30             9
208992   10000.0        True          US      Design      design  successful               30            12
208993   30000.0       False          US    Hardware  technology      failed               30            17
208994       2.0        True          US       Glass      crafts      failed               12            21

## Preprocess the data to pass to the ML Model

In [57]:
data =  pd.get_dummies(data, columns=['loc_country','cat_name', 'cat_parent'])
data.drop(columns=['state'], inplace=True)
user_data = data.iloc[-1,:]
user_data = np.array(user_data.values, dtype=np.float64).reshape(1,-1)

## Make Predictions

In [58]:
loaded_model = joblib.load('lr_no_nlp.pkl')
loaded_model.predict_proba(user_data)

array([[0.21156932, 0.78843068]])